<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Santo Amore - @ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
    <style>
        .dl-horizontal {
            display: inline-block;
        }
    </style>
</head>

<body class=" pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="Images/profile_small.jpg">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">David Williams</span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                                <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            SA
                        </div>
                    </li>
                    <li class="">
                        <a href="index.html" aria-expanded="false"><i class="fa fa-area-chart"></i> <span class="nav-label">Balance</span></a>
                    </li>
                    <li class="">
                        <a href="index.html" aria-expanded="false"><i class="fa fa-users"></i> <span class="nav-label">Clientes</span></a>
                    </li>
                    <li>
                        <a href="layouts.html" aria-expanded="false"><i class="fa fa-money"></i> <span class="nav-label">Compras</span></a>
                    </li>
                    <li>
                        <a><i class="fa fa-edit"></i> Productos <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">

                            <li><a href="@Url.Action("Index","Categorias")">Categorias</a></li>
                            <li><a href="@Url.Action("Index","Productos")">Productos</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="layouts.html" aria-expanded="false"><i class="fa fa-user"></i> <span class="nav-label">Usuarios</span></a>
                    </li>
                    <li>
                        <a href="layouts.html" aria-expanded="false"><i class="fa fa-calculator"></i> <span class="nav-label">Ventas</span></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Busqueda..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>@ViewBag.Title</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>@ViewBag.Title</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="right_col" role="main">

                @RenderBody()

            </div>
            <div class="footer fixed">
                <div>
                    <strong>Copyright</strong> Santo Amore - Lolitas © 2019
                </div>
            </div>

        </div>
    </div>

    <style>
        .light-skin {
            padding: 30px 10px;
            text-align: center;
            background: url(css/patterns/ls.png) repeat scroll 0 110px;
        }

            .light-skin:hover {
                background: url(css/patterns/ls.png) repeat scroll 0 140px;
            }

        .ultra-skin {
            padding: 10px 10px;
        }

        .light-skin a {
            color: #525252;
            font-weight: bold;
        }
    </style>
    @Scripts.Render("~/bundles/js")
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>